@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@400;500&display=swap');

body {
    background: #FFF9F1;
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerr {
    width: 100%;
    height: 80px;
    background: #FFF;
    display: grid;
    place-items: center;
}

.logo {
    width: 190px;
    margin-top: -54px;
}

.left,
.right {
    flex: 1;
}

.container {
    display: flex;
    width: 80%;
    border-radius: 14px;
    background: #FFF;
    margin: 69px 0;
}

.text {
    font-family: 'Cabin', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #4C4D4F;
}

.left {
    padding: 40px;
}

.login {
    color: rgba(76, 77, 79, 0.50);
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
}

.login span {
    color: #4C4D4F;
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
}

.login-with-wrapper {
    margin-top: 39px;
}

.login-with {
    font-family: 'Cabin', sans-serif;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #4C4D4F;
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-logo {
    margin-right: 12px;
    text-align: start;
}

.orWrapper {
    color: white;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
}

.line-wrapper {
    width: 50%;
    border: 1px solid rgba(76, 77, 79, 0.50);
}

.name-wrapper {
    display: flex;
    font-size: 16px;
    padding-top: 30px;
}

.name {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 100%;
}


.input-text {
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    padding: 14px 0;
    font-size: 16px;
    margin-top: 12px;
}

label {
    margin-top: 20px;
    color: #4C4D4F;
    font-size: 14px;
    font-weight: 400;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.radio-wrapper p {
    margin-top: 12px;
    margin-left: 10px;
}

.radio-wrapper input {
    /* width: 40px; */
    height: 20px;
    border-radius: 14px;
    border: black;
}

.terms {
    color: rgba(76, 77, 79, 0.50);
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    padding: 18px 10px;
}

.terms span {
    color: #4C4D4F;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}

.sign-up {
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background: #000;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.side-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: #E11D48;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
}

.login-text {
    color: rgba(76, 77, 79, 0.50);
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.login-text Link {
    color: #4C4D4F;
    font-family: PT Serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .right {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .container {
        width: auto;
    }

    .name-wrapper {
        flex-direction: column;
    }
}